*{
    margin:0;
    padding:0;
    


}
.main{
    height:100vh;
    width:100vw;
    background-color: rgb(179, 110, 156);
    display: flex;
}

#part1{
    height:100%;
    width :20%;
    background-color: rgb(181, 152, 207);
}

#part2{
    height:100%;
    width :70%;
    background-image: url('model.jpg');
    background-size: cover;
    /* background-position: center; */
    

}
.overlay{
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.722);
    
}


#part3{
    height:100%;
    width :10%;
    background-color: rgb(101, 19, 178);
    
}

#text{
    line-height: 78px;
    width: 400px;
    position: absolute;
    
    left: 5%;
    top:35%;
    letter-spacing: 5px;
    transform: translate(0,-50px);
    color: white;
}

#text h1{
    font-size: 100px;
    font-family: gilroy;
    font-weight: 900;
    text-transform: uppercase;
}

#small-img-div{
    height: 400px;
    width: 300px;
    background-image: url('model.jpg');
    background-size: cover;
    position: absolute;
    right:5%;
    top: 50%;
    transform : translate(0,-20%);
    background-position: center;
}


#vertical{
    position: absolute;
   
    right: -43%;
    top: 0px;
    transform-origin: 0% 0% ;
    transform: rotate(90deg);

}
#vertical h1{
    font-size:70px;
    font-weight: 900;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: #fff;
    color:transparent;
    letter-spacing: 8px;
   


}


.nature{
background-color: white;
height: 60px;
animation-name :rashi1;
animation-duration: 1.25s;
animation-iteration-count: infinite;


}

@keyframes rashi1{
    from{
        width:10px
    }
    to{
        width:150px;
    }
}

@keyframes rashi2{
    from{
        width:30px
    }
    to{
        width:200px;
    }
}

@keyframes rashi3{
    from{
        width:50px
    }
    to{
        width:280px;
    }
}
.mote{
background-color: white;
height: 60px;
animation-name :rashi2;
animation-duration: 1.25s;
animation-iteration-count: infinite;
    
    
    }
.hamper{
background-color: white;
height: 60px;
animation-name :rashi3;
animation-duration: 1.25s;
animation-iteration-count: infinite;
        
        
        }